# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Outputs del compilador (generados en tiempo de ejecución)
ide/outputs/*.txt

# Entornos virtuales
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
*.code-workspace

# Sistema operativo
Thumbs.db
.DS_Store

# Salidas del compilador generadas al ejecutar desde la raiz
/tokens.txt
/syntax.txt
/symbols.txt
/semantic.txt
/intermediate.txt
/errors.txt
/exec.txt
/*_tmp.caos
